* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DynaPuff', cursive;

}

body {
    background-color: #B70C59;
}

h1 {
    font-size: 300%;
    color: #EBBA4A;
    text-align: center;
    padding: 1rem;
}

h3 {
    font-size: 150%;
    color: #7B9737;
    text-align: center;
    padding: 1rem;
}

/* ROCK PAPER SCISSORS IMAGES*/
/* Code from Web Dev simplified as specified in ReadMe*/

.choices {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    background-color: red;
}

.choice {
    cursor: pointer;
    transition: 100ms;
    padding: 2rem;
}

.choice>p {
    font-size: 100px;
}

.choice:hover {
    transform: scale(1.7);
}

/* MESSAGE TEXT ON WHO WON*/
/* Code from Whats dev as specified in ReadMe*/

.result {
    font-size: 150%;
    color: #EBBA4A;
    padding: 1rem;
    background-color: blue;
    border-radius: 50%;
}

.result>p {
    text-align: center;
}

/* SCORE DISPLAY*/
/* Code from Web Dev simplified as specified in ReadMe*/
.score-board {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.score-text {
    color: #7B9737;
}

#user-score {
    margin-left: 1rem;
}

#computer-score {
    margin-left: 1rem;
}

.result-loser {
    transform: scale(0.5, 0.5)
}

.result-winner {
    transform: scale(1.5);
}

/* Media queries*/

@media screen and (max-width: 620px) {
    h1 {
        font-size: 200%;
    }
    }

@media screen and (max-width: 560px) {
        h1 {
            font-size: 200%;
        }
        .result {
            font-size: 100%;
        }   
        .choice {
            max-width: 33%;
            height: auto;
        }
        .choice>p {
            font-size: 50px;
        }
        
    }